<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>

	<body>
		<div class="main-container">
			<%- include('partials/header') %>

			<div class="profile-container">
				<h2>
					Welcome,<span> <%= user.first_name %> <%= user.last_name %></span>
				</h2>
				<p>Email: <%= user.email %></p>
				<p>
					Joined: <%= user.created_at.toLocaleString( 'en-US', { hour:
					'2-digit', minute: '2-digit', hour12: true, day: 'numeric', month:
					'short', year: 'numeric' } ) %>
				</p>
				<a href="/logout" class="logout-link">Logout</a>
				<!-- Logout button -->
				<a href="/profile/edit" class="edit-link">Edit Profile</a>
				<!-- Optionally, you could add an edit profile page -->
			</div>
		</div>
		<script>
			// Scroll to the top of the page after loading
			window.onload = function () {
				window.scrollTo(0, 0);
			};
		</script>
	</body>
</html>
